.gridcontainer {

  display: grid;
  grid-template-areas:
  "head    head   head    nav   nav"
  ".        main   main   main    ."
  ".        text     text  text      ."
  ".        team    team   team   ."
  " .       team1    team1  team1 . "
  ".        team2     team2  team2 . "
    ".        text1     text1  text1      ."
    ".       icon      icon    icon ."
  ".        service   service service ."
  ".        service1   service1 service1 ."
  ".        service2   service2 service2 ."
  ".        service3   service3 service3 ."
  " .       work        work    work  ."
  ".        text2     text2  text2      ."

  " .        map       map     form . "
  " footer   footer    footer  footer footer";


  grid-template-columns: 10% auto auto auto 10% ;
  grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
   background: grey;
   row-gap: 10px;
}


.logo {
  grid-row: 1/2;
  grid-area: head;
}

.nav {
  grid-area: nav;
  grid-column: 4 / 6;
  display: flex;
  align-items: center;
}



.landing {

  grid-area: main;
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.tit {
  grid-area: text;
  display:flex;
  justify-content: center;
}

.megan {
grid-area: team;
}

.ste {
  grid-area: team1;
}

.jon {
  grid-area: team2;
}

.grid-text1 {
  grid-area: text1;
  padding: 30px;
  display:flex;
  justify-content: center;
}

.gridicons {
  grid-area: icon;
}

.guitar {
  grid-area: service;
  max-width: 100%;
}
.rec {
  grid-area: service1;
}
.vox {
  grid-area: service2;
}
.perf {
  grid-area:service3;
}
#our-work {
  grid-area: work;
}
#contact-us {
  grid-area: form;
}
#map {
  grid-area: map;
}

.cont {
  grid-area: text2;
  display: flex;
  min-width: 250px;
  max-width: 100%;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}
.footer {
  grid-area: footer;
  display:flex;
  justify-content: flex-end;
}
