#header-img {


  max-width: 100%;
  max-height: 100%;
  height: 150px;
}

#img-meg, #img-jon, #img-ste {
  max-width: 100%;
  max-height: 100%;
  height: 250px;

}

.logo {
  background: pink;
}

.nav {
  background:pink;
}

#nav-bar ul li {
  list-style:none;

}

#nav-bar ul   {
  display: flex;
flex-direction: row;
justify-content: space-around;
font-size: 20px;
flex-wrap:wrap;
}
#nav-bar {

  width: 90%;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.megan {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.megan p {
  flex: 0 0 70%;
  flex-wrap: wrap;
}

.ste {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  padding-top: 30px;
  flex-wrap: wrap;
}

.ste p {
  flex: 0 0 70%;
  flex-wrap: wrap;
}

.jon {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.jon p {
  flex: 0 0 70%;
  flex-wrap: wrap;
}

.gridicons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.gridicons img {

  max-height: 100%;
  max-width: 100%;
  width: 13%;
  flex: 0 1 50px;
  border-style: solid;
  border-width: 2px;
  border-radius: 45px;
}
.gridicons img:hover {

  max-height: 100%;
  max-width: 100%;
  width: 13%;
  flex: 0 1 50px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  box-shadow: 5px 10px 18px red;;
}
.flexserv {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px auto;
  min-width: 250px;
  max-width:800px;
  gap:10px;
  flex-wrap: wrap;
}

.flexserv h3, h4, p {
 display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flexvids {
  display:flex;
  flex-wrap: wrap;
  min-width: 250px;
  max-width: 100%;
  justify-content: space-around;
}

.flexvids iframe, video {
  max-height: 100%;
  max-width: 100%;
  flex: 0 2 320px;
  flex-wrap: wrap;
}
