html {
  scroll-behavior: smooth;
}




#img-meg, #img-jon, #img-ste {
  max-width: 100%;
  max-height: 100%;
  height: 250px;
  border-style:solid;
  border-radius: 5px;
  box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
 0 12.5px 10px rgba(0, 0, 0, 0.06),
 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
 0 100px 80px rgba(0, 0, 0, 0.12);

}



/* Navbar stuff *************
*/

#header-img {
  max-width: 100%;
  max-height: 100%;
  height: 150px;
}

#header {

  box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
 0 12.5px 10px rgba(0, 0, 0, 0.06),
 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
 0 100px 80px rgba(0, 0, 0, 0.12);

}

.logo {
  background-color: #87CEFA;
}


.nav {
  background-color: #87CEFA;
  box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
 0 12.5px 10px rgba(0, 0, 0, 0.06),
 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
 0 100px 80px rgba(0, 0, 0, 0.12);

}

#nav-bar ul li {
  list-style:none;

}

#nav-bar ul   {
  display: flex;
flex-direction: row;
justify-content: space-around;
font-size: 20px;
flex-wrap:wrap;

}

#nav-bar {
 position: sticky;
  width: 100%;
}

#nav-bar ul li {
   font-family:'Open Sans', sans-serif;
   color: white;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: white;
   text-decoration: none;
   font-weight:400;
   border-bottom:solid;
   border-color: black;
   padding:1px;
   box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
   transition-duration: 500ms;
   transition-timing-function:ease-in-out;
}

/************************************************/

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-around;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 70%;
}


/***************** Meet the team styles******************/

.tit, .megan, .ste, .jon {
background: #9dd7fb;
color: #ffffe6;
}

.tit {
  border-style: solid;
  border-bottom-color:black;
  border-radius: 1px;
  background: #87CEFA
}


.megan {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 30px;
}

.megan p {
  flex: 0 1 600px;
  flex-wrap: wrap;
  font-size: 1.5vw;



}

.ste {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-around;
  padding-top: 30px;
  flex-wrap: wrap;
}

.ste p {
  flex: 0 1 600px;
  flex-wrap: wrap;
  font-size: 1.5vw;

}

.jon {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.jon p {
  flex: 0 0 600px;
  flex-wrap: wrap;
  font-size: 1.5vw;
}

/********************************************/

/****** Services ************/

.gridicons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.gridicons img {

  max-height: 100%;
  max-width: 100%;
  width: 13%;
  flex: 0 1 50px;
  border-style: solid;
  border-width: 2px;
  border-radius: 45px;
  box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
 0 12.5px 10px rgba(0, 0, 0, 0.06),
 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
 0 100px 80px rgba(0, 0, 0, 0.12);
}
.gridicons img:hover {

  max-height: 100%;
  max-width: 100%;
  width: 13%;
  flex: 0 1 50px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  box-shadow: 5px 10px 18px red;;
}


.flexserv {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px auto;
  min-width: 250px;
  max-width:800px;
  gap:10px;
  flex-wrap: wrap;
}

.flexserv h2, h3, h4, p {
 display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15px;
}



/*********** vids and background ******************************/

.flexvids {
  display:flex;
  flex-wrap: wrap;
  min-width: 250px;
  max-width: 100%;
  justify-content: space-around;
}

.flexvids iframe, video {
  margin-bottom: 10px;
}

.flexvids iframe, video {
  max-height: 100%;
  max-width: 100%;
  flex: 0 2 320px;
  flex-wrap: wrap;
}

#our-work {
  background: #9dd7fb;
  padding-bottom: 50px;
}

.flexserv h2 {

  color: #ffffe6;
}





#map {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  max-width:500px;
  max-height: 350px;
  display:flex;
  flex-wrap: wrap;
  flex: 0 1 500px;
}

.cont {
  display:flex;
  justify-content: center;
}
