h1, h2, h3, h4 {
font-family: 'Rubik', sans-serif, helvetica;
}

p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.4vw;
}

@media screen

  and (max-device-width: 1000px)
   {

    h2 {
      color: blue;
    }
}
